body{
    background-color: black;
}
span{
    display: flex;
}
iframe{
    background-color: rgb(211, 211, 211);
}
textarea{
    height: 800;
   
}
img{
    border-radius: 10;
}

#no{
    margin-top: 34;
}